@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 7px;
      height: 7px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #ebe7e7;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #adaaaa;
      border-radius: 100vh;
      border: 3px solid  #adaaaa;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #adaaaa;
    }
  }

  /* body{
    overflow: hidden;
  } */
  
  

  .chart-box {
    margin: 20px;
  }
  
  .chart-container {  
    display: flex;
    justify-content: center;
  }
  
  .small-column {
    width: 8%;
    height: 307px;
  }

  .small-column2{
    width: 8%;
    height: 293px;
    /* margin-top: 30px; */
  }
  
  .large-column {
    max-width: 800px;
    height: 350px;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .large-column2 {
    max-width: 800px; 
    height: 330px;
    overflow-x: auto;
    overflow-y: hidden;
  }
  
  .canvas-container {
    position: relative;
  }
  
  .canvas-container canvas {
    width: 80% !important;
    height: auto !important;
  }
  

.container {
    width: calc(1000px - 40px);
    height: 328px;
}
.container-selected-data {
  width: calc(625px - 40px);
  height: 328px;
}

.container2 {
  width: calc(1000px - 40px);
  height: 300px;
}